main{width: 100%;overflow: hidden;
   #banner{width: 100%;height: 456px;position: relative;overflow: hidden;margin-top: 20px;
     ul{width:100%; position: absolute;top: 0;left: 0;min-width: 1200px;
       li{width: 100%;height: 456px;img{width: 100%;height: 100%;}}}
      .next,.prev{width: 50px;height: 50px;position: absolute;right: 50px;background: #000000;color: #FFFFFF;text-align: center;line-height: 50px;}
      .next {top:100px}
      .prev{top:160px}
     .page{height: 30px;position: absolute;bottom: 0px;text-align: center; left: 0;right: 0;margin: 0 auto;
        .span{display: inline-block;text-align: center;width: 20px;height: 20px;border-radius: 50%;margin-right: 10px;
               background: #999999;color: #FFFFFF;line-height: 20px;font-size: 12px;}
        .bg{background: red;}}
   }
    #fruit-navbox{width: 100%;background: #f5f5f5;
      .fruit-nav{width: 1200px;margin: 10px auto 20px;height: 560px;
        .fruit-l{float: left;width: 220px;height: 560px;
            .fruit-title{width: 220px;height: 50px;text-align: center;line-height: 50px;background: #339933;
                a{color: #FFFFFF;font-size: 18px;}}
            .fruit-recom{ width: 220px;height: 510px;
                a{display: block;width: 220px;height: 510px;
                    img{width: 100%;height: 100%;}}}} 
        .fruit-r{float: right;width: 960px;height: 560px;
            ul{width: 970px;height: 560px;overflow: hidden;
               .bannerbox{width: 637px;height: 370px;float: left;margin: 0 10px 10px 0;position: relative;
                   img{display: none;&:nth-child(1){display: block;}}
                   .page{height: 30px;position: absolute;bottom: 10px;text-align: center; left: 0;right: 0;margin: 0 auto;
                       .span{display: inline-block;text-align: center;width: 40px;height: 10px;margin-right: 5px;
                                 background: #FFFFFF;} 
                        .bg{background: #7abd54;}}
                    .next,.prev{width: 30px;height: 60px;background: #FFFFFF;display: none;position: absolute;top:188px;text-align: center;line-height: 60px;}
                     .next{right: 0;}
                     .prev{left: 0;}
                     &:hover {.next,.prev{display: block;}}
                     }
                li{width: 293px;height: 160px;background: #FFFFFF;float: left;position: relative;margin: 0 10px 10px 0;
                    padding:10px 10px;
                   .fruit-info{width: 100px;height: 180px;
                       a{font-size: 12px;color: #333333;display: block;margin-bottom: 10px;width:  90px;white-space: 
                          nowrap;overflow:hidden;text-overflow: clip;
                          &:hover{color: red;}}
                       .price{font-size:17px ;color: #99cc00;
                            p{display: inline-block;float: left;}}}
                   .img a{position: absolute;right: 10px;top: 5px;width: 160px;height: 150px;display: block;
                          img{width: 100%;height: 100%;}}}
                }}}
    }
#hotbox{width: 100%;height: 535px;position: relative;background: #F5F5F5;margin-bottom: 20px;
    #hotmessage{height: 55px;line-height: 55px;text-align: left;font-size: 25px;width: 1200px;margin: 0 auto;
      a{font-size: 12px;color: #333333;position: absolute;right: 20px;top:0;
          &:hover{color: red;}}}
    #hot{width: 1200px;margin: 0 auto;position: relative;display: flex;
flex-direction: row;flex-wrap: wrap;justify-content: space-around;align-content: space-around;
      .hotfruit{&:hover{box-shadow:0px 0px 15px 1px #CCCCCC;}}}}


}

