#product-list{width: 100%;
    #productbox{width: 1200px;margin: 0 auto;height: auto;
      #text-nav{width: 1200px;height: 235px;height: auto;
        #navbox{height: 47px;width: 1200px;
           #weizhi{a{line-height: 47px;font-size: 15px;color: #222222;}
                   span{color: #CCCCCC;}}}
        #filterbox{height: auto;width: 1200px;box-sizing: border-box;border: 1px solid #dddddd;margin-bottom: 15px;
           #top-filter{width: 1200px;height: 37px;border-bottom: 1px solid#DDDDDD;background: #F5F5F6;line-height: 37px;
                      span{display: block;width: 280px;height: 37px;padding-left: 20px;}
                      .filter-conut{float: left;p{color: red;display: inline-block;}}
                       .shuaxin{float: right;width: 130px;a{font-size: 14px;color: #222222;&:hover{color: red;}}} }
            #bottom-filter{width: 1200px;height: auto;
                    div{width: 1200px;height: 30px;line-height: 30px;color: #333333;a{display: block;float: left;color: #666666;font-size: 14px;}}
                      span{float: left;display: inline-block;width: 100px;text-align: right;font-size: 14px;}
                      #fruitclass a{margin-left: 20px;&:hover{color: red;}}
                      #sales{ .bg{background: red;color: #FFFFFF;}
                          a{height: 20px;margin: 5px 10px;text-align: center;line-height: 20px;border-radius: 5px;padding: 2px 5px;}} 
                       
                       }}
        #sortbox{height: 44px;width: 1200px;box-sizing: border-box;border: 1px solid #dddddd;overflow: hidden;
              div{height: 26px;float: left;margin-left: 15px;margin-top: 9px;}
              #sortbar{box-sizing: border-box;font-size: 14px;
                   a{height: 20px;display: block;padding: 2px 5px;font-size: 14px;color: #666666;border: 1px solid #DDDDDD;background: #F5F5F5;float: left;}
                    select{margin-top:3px ;}}
              #showbar{margin-left: 45px;a{display: block;width: 56px;height: 24px;float: left;text-align: center;line-height: 24px;color: #222222;font-size: 14px;
                          border: 1px solid #DDDDDD;}
                       .clickbg{background: #FFFFFF;color: red;}
                       .bg{background: #f3f3f3;color: #222222;}}
                       input{margin-left: 34px;}}
      }
     #bigimgbox{width: 1200px;height: auto;padding-bottom: 20px;
         ul{width: 1200px;height: auto;
            .bigimg{width: 300px;float: left;border-bottom: 1px dashed #DDDDDD;height: 380px;
                .product-img{width: 240px;height: 240px;margin: 10px 30px 15px;img{width: 100%;height: 100%;}}
                .product-info{a{color: #222222;font-size: 12px;margin-left: 30px;display: block;&:hover{text-decoration: underline;color: red;}}}
                  .info-price{height: 40px;margin-top: 24px;margin-left: 20px;
                     ins{text-decoration: none;text-indent: 24px;font-size: 18px;color: red;}
                     del{font-size: 14px;color: #DDDDDD;}
                       p{display: block;float: left;}}
                .product-action{height: 40px;margin-left: 30px;
                     } }
                     
            .addcart{width: 100px;height: 25px;text-align: center;line-height: 25px;background: #68b100;padding: 5px 10px;color: #FFFFFF;}}
                     
            .listimg{width: 1200px;height: 99px;border-bottom: 1px dashed #CCCCCC;display: list-item;text-align: center;padding: 20px 0;
                   
                   .product-img{width: 100px;height: 100px;float: left;img{width: 100%;height: 100%;}}
                   .product-info{text-align: center;float: left;width: 500px;margin-left: 120px;
                      div{margin-bottom: 10px;color: #999999;font-size: 12px;
                          a{font-size: 12px;color: #333333;&:hover{color: red;}}}
                        }
                   .product-action{float: right;width: 315px;height: 100px;margin-right: 20px;
                        .pricebox{float: left;
                             span{display: block;margin-bottom: 5px;font-size: 14px;text-align: left;
                                 ins{color: red;}
                                 del{color: #CCCCCC;}
                                   .sy{color: #333333;}}}} }}  
   
    }}
