<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/guolehui/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="/guolehui/css/list.css"/>
		<link rel="stylesheet" type="text/css" href="/guolehui/icon-font/iconfont.css"/>
		<script type="text/javascript" src="/guolehui/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/guolehui/js/template-native.js"></script>
		<script type="text/javascript" src="/guolehui/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="/guolehui/js/require.js"></script>
		
	</head>
	<body>
		<div id="product-list">
			<div id="productbox">
				<div id="text-nav">
					<div id="navbox">
						<div id="weizhi">
							<span><a href="#"><i class="iconfont icon-shouye-shouye"></i>首页&nbsp;>&nbsp;</a></span> 
							<span><a href="#">进口果鲜 >> </a></span> 
							<span>&nbsp;泰国果鲜</span>
						</div>
					</div>
					<div id="filterbox">
						<div id="top-filter">
							<span class="filter-conut">商品筛选（共<p>5</p>件商品）</span>
							<span class="shuaxin"><a href="#">重置筛选项</a>&nbsp;></span>
						</div>
						<div id="bottom-filter">
							
								<div id="youchoose">
									<span>您已选择：</span>
								</div>
								<div id="fruitclass">
									<span>分类：</span>
									<a href="#">我去d</a>
									<a href="#">未付费</a>
									<a href="#">发的</a>
								</div>
								<div id="sales">
									<span>促销商品：</span>
									<a href="#" class="bg">不限</a>
									<a href="#">减价</a>
									<a href="#">包邮</a>
									<a href="#">送积分</a>
									<a href="#">打折</a>
									<a href="#">送赠品</a>
								</div>
						</div>
					</div>
					<div id="sortbox">
						<div id="sortbar">
							    <a href="#" class="sort">
								<em>默认</em>
								</a>
								<a href="#" class="sortprice">
									<em>价格</em>
									<i class="iconfont "></i>
								</a>
								<a href="#" class="sortaction">
									<em>销量</em>
									<i class="iconfont"></i>
								</a>
							 <label for="">排序：</label>
							 <select name="order" id="action-order">
							 	<option value="" selected="selected">默认</option>
							 	<option value="">按价格&nbsp;从高到低</option>
							 	<option value="">按价格&nbsp;从低到高</option>
							 	<option value="">访问周次数</option>
							 	<option value="">周购买次数</option>
							 	<option value="">总购买次数</option>
							 </select>
							<div>
								
							</div>
						</div>
						<div id="showbar">
						
								<a href="#" class="clickbg"><i class="iconfont">z</i>大图</a>
								<a href="#" class="bg"><i class="iconfont">z</i>列表</a>
						
							<input type="checkbox" />
							<label for="">仅显示有货</label>
						</div>
					</div>
				</div>
				<div id="bigimgbox">
					<ul>
				 <script type="text/html" id="bigimg-template">
					  	<%for(var i=0;i < products.length;i++){
					  		 var prod = products[i];
					  		%>
					  <li class="bigimg" name="<%=prod.id%>">
			          <div class="product-img">
				  		<a href="/guolehui/html/detail.html"  class="todetail" name="<%=prod.typeid%>"><!---->
				  			<img src="/guolehui/img/<%=prod.imgsrc%>"/>
				  		</a>
					  	</div>
					  	<div class="product-info">
					  		<h3><a href="/guolehui/html/detail.html" class="todetail" name="<%=prod.typeid%>"><%=prod.name%></a></h3><!---->
					  		<div class="info-price">
					  			<ins class="price">￥<label for="" class="sprice"><%=prod.saleprice%></label></ins>
					  			<del class="price">￥<label for="" class="mprice"><%=prod.marketprice%></label></del>	
					  			  <p class="price" style="display: none" class="svprice">￥<label for=""><%=prod.saveprice %></label></p>
					  		</div>
					  	</div>
					  	<div class="product-action">
					  		<a href="" class="addcart">加入购物车</a>
					  	</div>
					  </li>
					  	<%}%>
					  </script>
			  <script type="text/html" id="list-template">
					  	<%for(var i=0;i < products.length;i++){
					  		 var prod = products[i];
					  		%>
						 <li class="listimg" style="display: none;" name="<%= prod.id%>">
				          <div class="product-img">
					  		<a href="/guolehui/html/detail.html" name="<%=prod.typeid%>" class="todetail">
					  			<img src="/guolehui/img/<%=prod.src%>"/>
					  		</a>
						  	</div>
						  	<div class="product-info">
						  		<div class="info-name"><a href="/guolehui/html/detail.html" class="todetail" name="<%=prod.typeid%>"><%=prod.name%></a></div>
						  		<div class="info-decs"><%=prod.desc%></div>
						  		<div class="info-comment"><%=prod.span%></div>
						  	</div>
						  	<div class="product-action">
						  		<div class="pricebox">
						  			<span><label>销售价：</label><ins class="price">￥<label for="" class="sprice"><%=prod.saleprice%></label></ins></span>
						  			<span><label for="">市场价：</label><del>￥<label for="" class="mprice"> <%=prod.marketprice%> </label></del></span>
						  			<span><label for="">节省:</label><ins class="sy">￥<label for="" class="svprice"><%=prod.saveprice %></label></ins></span>
						  		</div>
						  		<div class="buttonbox">
						  			<a href="#"  class="addcart" name="<%= prod.id%>">加入购物车</a>
						  		</div>
						  	</div>
						  </li>
					  	<%}%>
					  </script>
					  <!--  <li class="listimg">
			          <div class="product-img">
				  		<a href="#">
				  			<img src="/guolehui/img/fruit-r0.jpg"/>
				  		</a>
					  	</div>
					  	<div class="product-info">
					  		<div class="info-name"><a href="#">30mm优质美国车厘子</a></div>
					  		<div class="info-decs">团购优惠咨询电话：400-699-1807</div>
					  		<div class="info-comment"></div>
					  	</div>
					  	<div class="product-action">
					  		<div class="pricebox">
					  			<span><label>销售价：</label><ins class="price">￥179</ins></span>
					  			<span><label for="">市场价：</label><del>￥228</del></span>
					  			<span><label for="">节省:</label><ins class="sy">￥49</ins></span>
					  		</div>
					  		<div class="buttonbox">
					  			<a href="#"  class="addcart">加入购物车</a>
					  		</div>
					  	</div>
					  </li>-->
				    </ul>
				</div>
				
				
			</div>
		</div>
		 <script type="text/javascript">
					  	$(function(){
					  		 //添加header、footer；
					  		 
					  		 //页面跳转时传递数据渲染商品详情
					  		  $.cookie.json=true;// 自动在对象与字符串之间解析转换
					  		  
					  		 $("#bigimgbox ul").on("click",".todetail",function(e){
					  		 	    
					  		 	 var _id = $(this).parents("li").attr("name"),
					  		 	     _typeid = $(this).attr("name");
					  		 	     
					  		 	   $.cookie("fruitid",{id:_id,typeid:_typeid});
					  		 	   console.log($.cookie("fruitid"))
					  		 });
					  		 
					  		//添加商品到cookie;
					  		$("#bigimgbox").on("click",".addcart",function(e){
					  			  e.preventDefault();
					  			var $row = $(this).parents("li");
					  			var fruit ={
				  				        "id":$row.attr("name"),
				  				        "typeid":$row.find(".todetail").attr("name"),
									    "name":$row.find("h3").find("a").html()||$row.find(".info-name").find("a").html(),
									    "imgsrc":$row.find(".product-img").find("img").attr("src"),
									    "saleprice":$row.find("ins").find(".sprice").html(),
									    "marketprice":$row.find("del").find(".mprice").html(),
									    "saveprice":$row.find(".svprice").text(),
									    "count":1,
									    "total":$row.find("ins").find(".sprice").html()
									    }
					  	       var _fruits = $.cookie("fruits") || [];
					  			  var index = indexof(fruit.id,_fruits);
					  			  if(index==-1){
					  			  	 _fruits.push(fruit)
					  			  }else{
					  			  	 _fruits[index].count++;
					  			  };
					  	  $.cookie("fruits",_fruits,{expires:7});
					  	     
					  		})
					  		console.log($.cookie("fruits"))
					  	  $.getJSON("/guolehui/data/product.json",function(responseData){
					  			var data={
					  				products:responseData
					  			}
					  			var list = template("list-template",data);
					  			var big = template("bigimg-template",data);
					  			$("#bigimgbox ul").append(big);
					  			$("#bigimgbox ul").append(list);
					  		})
					  		
					  		$("#showbar a").click(function(){
					  			$(this).addClass("clickbg").removeClass("bg").siblings(".clickbg").removeClass("clickbg").addClass("bg");
					  			$("#bigimgbox").find(".listimg").css({display:"none"}).end()
					  			               .find(".bigimg").css({display:"block"});
					  			
					  		});
					  		$("#showbar .bg").click(function(){
					  			
					  			$("#bigimgbox").find(".listimg").removeClass("clickbg").addClass("bg").css({display:"block"}).end()
					  			               .find(".bigimg").css({display:"none"});
					  			
					  		});
					  		//查找是否存在在该对象内
					  		 function indexof(id,products){
					  		 	 for(var i=0;i<products.length;i++){
					  		 	 	if(id === products[i].id)
					  		 	 	  return i
					  		 	 }
					  		 	 return -1;
					  		 }
					  	});
					  </script>
	</body>
</html>
